<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>356182257943-tb3jk8qejgouf5g4bimldp2n9rnjbffk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.356182257943-tb3jk8qejgouf5g4bimldp2n9rnjbffk</string>
	<key>API_KEY</key>
	<string>AIzaSyD2WRhhr3ivfButIZdqvFBrwkV74BDoWSI</string>
	<key>GCM_SENDER_ID</key>
	<string>356182257943</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.domainname.journal</string>
	<key>PROJECT_ID</key>
	<string>journal-c5050</string>
	<key>STORAGE_BUCKET</key>
	<string>journal-c5050.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:356182257943:ios:1134cf074ccd666955c752</string>
</dict>
</plist>